.header-content{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header {
    background-color: var(--background-header);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.wellcome-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.wellcome {
    font-size: 1.2rem;
    font-weight: normal;
    color: #FFFFFF;
}

.button-init {
    background-color: var(--background-button);
    color: #000000;
    border: 1px solid #000000;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;
    margin: 0.1rem;
}

.button-init-hover {
    background-color: #8D67D4;
}

.cart-icon-container{
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 32px;
    height: 32px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #A67EF0;
    color: #000000;

    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 0.75rem;
    font-weight: bold;

    position: absolute;
    top: -6px;
    right: -6px;
}

.nav-menu {
  background-color: var(--background-header);
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.nav-menu span {
  padding: 0 0.5rem;
}

.menu-item {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}

.menu-item:hover {
  text-decoration: underline;
}

.header-link-container{
    width: 20rem;
    height: 100%;
    border: 2px solid black;
}